html {
    background: url(./images/cityStreet.gif) no-repeat;
    background-size: cover;
    
}
#contentBox {
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    max-width: 380px;
    display: block;
    margin: auto;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
}
#paintZone {
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid {
    display: grid;
    min-height: 320px;
    max-height: 650px;
    min-width: 320px;
    max-width: 650px;
    border: solid grey;
}
.square {
    background: black;
}
#controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    gap: 20px;
}
#controls button {
    min-width: 60px;
}