#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    height: 400px;
    width: 400px;
    border: solid green;
}
.square {
    height: 100px;
    width: 100px;
    background: black;
}
.square:hover {
    background-color: red;
}